<!--
Assignment: 07
Date: 5/20/23
File name: base.html
Purpose:
- entire project template for blogging and polling
- mysite/templates/base.html

Date        Developer       Activities
5/20/23     Don D.          Add static file - https://canvas.uw.edu/courses/1616579/pages/lesson-07-content?module_item_id=17606304

-->

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Django Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="content">
                {% block content %}
                [content will go here]
                {% endblock %}
            </div>
        </div>
    </body>
</html>
