<!--
Assignment: Lesson 08 Activity Class-Based View
Date: 5/26/23
File name: polling/templates/polling/detail.html
Purpose:
- polling app template

Notes:
> object comes from views.PollDetailView.post > context = {"object": poll}

Date        Developer       Activities
5/26/23     Don D.          update list.html to use class-based view
-->

{% extends "base.html" %}
{% block content %}
<h1>{{ object.title }}</h1>
<div class="poll-body">
    {{ object.text }}
</div>
<div class="poll-score">
    Current score: {{ object.score }}
</div>
<div class="poll-vote">
    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="vote" value="Yes">
        <input type="submit" name="vote" value="No">
    </form>
</div>
{% endblock %}