<!--
Assignment: Lesson 08 Activity Class-Based View
Date: 5/26/23
File name: polling/templates/polling/list.html
Purpose:
- polling app template

Notes:
> polls_list come from views.PollDetailView.post > poll = self.get_object()

Date        Developer       Activities
5/26/23     Don D.          update list.html to use class-based view
-->
{% extends "base.html" %}
{% block content %}
<h1>Polls</h1>
    {% for poll in polls_list %}
    <div class="poll">
        <h2>
            <a href="{% url 'poll_detail' poll.pk %}"> {{ poll.title }}</a>
        </h2>
    </div>
{% endfor %}
{% endblock %}