<!--
Assignment: Lesson 08 Activity Class-Based View
Date: 5/26/23
File name: polling/templates/polling/list.html
Purpose:
- polling app template

Notes:
> polls_list come from views.PollDetailView.post > poll = self.get_object()
- This template will be rendered against a context containing a variable called poll_list that contains all the polls object
- https://docs.djangoproject.com/en/2.1/topics/class-based-views/generic-display/#viewing-subsets-of-objects
Date        Developer       Activities
5/26/23     Don D.          update list.html to use class-based view
-->
{% extends "base.html" %}
{% block content %}
<h1>Polls</h1>
    {% for poll in poll_list %}
    <div class="poll">
        <h2>
            <a href="{% url 'poll_detail' poll.pk %}"> {{ poll.title }}</a>
        </h2>
    </div>
{% endfor %}
{% endblock %}